.type-1611 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.type-1611 .collection ul {
  margin: 0;
  padding: 0;
}
.type-1611 .collection ul li {
  display: inline-block;
}
.type-1611 .collection ul li .image-intagram {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.type-1611 .collection ul li .image-intagram .thunho{
  width: 120px;
  height: 120px;
}
.type-1611 .collection ul li .image-intagram a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  text-decoration: none;
  top: 100%;
  transition: .3s;
  background: rgba(0,0,0,0.3);
  z-index: 2;
}
.type-1611 .collection ul li .image-intagram a i {
  position: absolute;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.type-1611 .collection ul li .image-intagram a p {
  position: absolute;
  top: 65%;
  left: 25%;
}
.type-1611 .collection ul li .image-intagram a img {
  transition: 2s;
}
.type-1611 .collection ul li .image-intagram:hover a {
  top: 0;
}
.type-1611 .collection ul li .image-intagram:hover img {
  -webkit-transform: scale(1.2);
}
